{% extends 'base.html.twig' %} {% block title %}New Association{% endblock %} {%
block body %}
<div class="container">
  <h1>Create new Association</h1>

  {{ include("admin/association/_form.html.twig") }}
</div>
{% endblock %}
