{% extends 'base.html.twig' %}

{% block title %}New Campains{% endblock %}

{% block body %}
    <h1>Create new Campains</h1>

    {{ include('campains/_form.html.twig') }}

    <a href="{{ path('app_campains_index') }}">back to list</a>
{% endblock %}
