$primary: #009ee0;
$secondary: #253a6d;
$tertiary: #ec751a;
h1,
h2 {
  color: $secondary;
}
.bordercolor {
  border: $tertiary solid 1px;
}
.alert ul {
  list-style: none;
}
#scroll-top {
  position: fixed;
  bottom: 30px; /* Adjust the spacing from the bottom as needed */
  right: 30px; /* Adjust the horizontal spacing as needed */
  z-index: 100; /* Ensure button appears above other elements */
}
a.btn,
button.btn {
  color: white;
}
.form-widget-wrapper {
  margin-top: 10px; /* Ajoute de la marge en haut */
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
