<form
  method="post"
  action="{{ path('campains_delete', { id: campain.id }) }}"
  onsubmit="return confirm('Are you sure you want to delete this item?');"
>
  <input
    type="hidden"
    name="_token"
    value="{{ csrf_token('delete' ~ campain.id) }}"
  />
  <button class="btn">Delete</button>
</form>
