{% extends 'base.html.twig' %} {% block title %}Campains{% endblock %} {% block
body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        {{ include("admin/campains/_buttons.html.twig") }}
        <div class="col-md-12">
          <h1>Détails de la Campagne {{ campain.libelle }}</h1>
          {{ include("admin/campains/_result_tab.html.twig") }}

          {{ include("admin/campains/_buttons.html.twig") }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
