{% extends 'base.public.html.twig' %} {% block title %}Test{% endblock %} {%
block body %}

<h1>Tefssdt</h1>
{{ dump(app.session.flashbag) }}

{% for message in app.session.flashbag %}
<div class="alert alert-success">youhou {{ dump(message) }}</div>
{% endfor %} {% for messages in app.session.flashbag.all() %} {% for message in
messages %}
<div>
  {{ message }}
</div>
{% endfor %} {% endfor %} {% endblock %}
