{% extends 'base.public.html.twig' %} {% block body %}
<div class="container mt-5">
  <h1>Cette page n'existe pas.</h1>

  <p>
    Pour plus d'information
    <a href="mailto:marekting@habitat-humanisme.org ">contacter le support</a>
  </p>
</div>
{% endblock %}
